.contacts {
    position: relative;
    &__map {
        iframe {
            width: 100%;
            height: 550px;
            border: 0;
        }
    }
    &__card {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 480px;
        background-color: $red;
        text-align: center;
        padding: 60px 0;
        color: $white;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        a {
            color: $white;
        }
        .contacts__title {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 40px;
        }

        .contacts__phone {
            padding: 30px 0;
        }

        .contacts__mail {
            text-decoration: underline;
        }
    }
}