.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($black, .5);
    z-index: 2;
    top: 0;
    left: 0;
    display: none;
    &__body {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__content {
        background-color: $white;
        max-width: 345px;
        padding: 20px;
        color: #151515;
        text-align: center;
        position: relative;
    }
    &__close {
        position: absolute;
        right: -30px;
        top: 0;
        background-color: transparent;
        svg {
            width: 22px;
            height: 22px;
        }
    }
    &__title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    &__subtitle {
        font-size: 15px;
        margin-bottom: 18px;
    }
    &__form {
        &-input {
            border: 1px solid #d0d0d0;
        }
        &-btn {
            margin-top: 15px;
        }
    }
}

