.requests {
    background-color: $bg-section;
    text-align: center;
    padding: 80px 0;

    .form {
        @include box($white, 60px);
        margin: 60px auto 0 auto;
        align-items: center;
        &__line {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 20px;

            .form__select {
                position: relative;
                width: 100%;

                &::after {
                    content: '';
                    display: block;
                    border-style: solid;
                    border-width: 5px 5px 0 5px;
                    border-color: #b8b8b8 transparent transparent transparent;
                    position: absolute;
                    top: 45%;
                    right: 1rem;
                }

                &::before {
                    content: '';
                    width: 1px;
                    height: 20px;
                    background-color: #e8e8e8;
                    display: block;
                    position: absolute;
                    right: 35px;
                    top: 25%;
                }


                select {
                    padding: 14px 100px 14px 17px;
                    appearance: none;
                    scroll-behavior: smooth;
                    width: 100%;

                    option {
                        font-size: 13px;
                        color: #606060;
                        line-height: 25px;

                        &:first-child {
                            display: none;
                        }
                    }
                }
            }

            textarea {
                resize: none;
                height: 125px;
            }
            &-btn {
                width: 100%;
            }
        }
    }
}

input, select, textarea {
    padding: 14px 15px 14px 17px;
    width: 100%;
    margin-top: 7px;
}

label {
    font-size: 13px;
    font-weight: 700;
    margin: 10px 0 0 0;
    display: block;
}