<section class="consultation">
    <div class="container">
        <h1 class="title">Нужна консультация?</h1>
        <h3 class="subtitle">Заполните форму и получите максимально точную цену!</h3>
        <div class="form consultation__form">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-7">
                    <label for="name">Ваше имя:</label>
                    <input name="name" id="name" placeholder="Введите" required>
                </div>
                <div class="col-lg-6 col-md-7">
                    <label for="num">Ваш телефон:</label>
                    <input type="tel" name="number" id="number" placeholder="+7 (9__) ___-__-__"
                    required>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-7 col-12 form__btn">
                    <button class="thanks__btn btn btn--red">Заказать консультацию</button>
                </div>
            </div>
        </div>
        
    </div>
    <!-- /.container -->
</section>
<!-- /.consultation -->

