<section class="contacts">
    <div class="contacts__map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d563.2947949284992!2d37.626120616633955!3d55.616297876679326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414ab25bfbda3a63%3A0x8cc74fb6605a0a52!2z0JTQvtGA0L7QttC90LDRjyDRg9C7LiwgOCDQutC-0YDQv9GD0YEgMSwg0JzQvtGB0LrQstCwLCDQoNC-0YHRgdC40Y8sIDExNzU0NQ!5e0!3m2!1sru!2sua!4v1594673742740!5m2!1sru!2sua" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="container">
        <div class="contacts__card">
            <h3 class="contacts__title">Контакты</h3>
            <span class="contacts__address">г. Москва, ул. Дорожная, 8, к.1</span>
            <a href="tel:+88001234334" class="contacts__phone">8 800 123 43 34</a>
            <a href="mailto:info@sitename.ru" class="contacts__mail">info@sitename.ru</a>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.contacts -->