<section class="features">
    <div class="container">
        <div class="row features__list justify-content-center">
            <div class="col-lg-4 col-md-6 features__item">
                <div class="features__item-icon">
                    <img src="assets/img/features/features-01.png" alt="Картинка 1">
                </div>
                <h3 class="features__item-title">Более 1000 наименований</h3>
                <p class="features__item-text">
                    Возможность заказа и подбора более чем по 2000 наименований деталей
                </p>
            </div>
            <div class="col-lg-4 col-md-6 features__item">
                <div class="features__item-icon">
                    <img src="assets/img/features/features-02.png" alt="Картинка 2">
                </div>
                <h3 class="features__item-title">Доставка в любой регион РФ</h3>
                <p class="features__item-text">
                    Мы работаем с любой транспортной компанией и осуществляем доставку в любой регион РФ
                </p>
            </div>
            <div class="col-lg-4 col-md-6 features__item">
                <div class="features__item-icon">
                    <img src="assets/img/features/features-03.png" alt="Картинка 3">
                </div>
                <h3 class="features__item-title">Новое состояние деталей</h3>
                <p class="features__item-text">
                    Наши детали не были в употреблении и имеют состояние новых
                </p>
            </div>
            <div class="col-lg-4 col-md-6 features__item">
                <div class="features__item-icon">
                    <img src="assets/img/features/features-04.png" alt="Картинка 4">
                </div>
                <h3 class="features__item-title">Европейское качество</h3>
                <p class="features__item-text">
                    Все наши детали привезены из Европы, что гарантирует отличное качество.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 features__item">
                <div class="features__item-icon">
                    <img src="assets/img/features/features-05.png" alt="Картинка 5">
                </div>
                <h3 class="features__item-title">Европейское качество</h3>
                <p class="features__item-text">
                    Все, что мы делаем - официально. Мы заключаем договор купли-продажи и предоставляем все необходимые документыю
                </p>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.features -->