<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-6 col-4 footer__logo logo">
                    Логотип
                </div>
                <div class="col-lg-4 offset-lg-5 col-md-6 col-8 footer__phone phone">
                    <a href="tel:+88002323212" class="phone__tel">8 800 232 32 12</a>
                    <button type="submit" class="phone__link">Заказать обратный звонок</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>
<!-- /.footer -->