<header class="header">
    <div class="container">
        <div class="header__top">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-6 col-sm-4 col-4 header__logo logo">
                    Логотип
                </div>
                <div class="col-lg-4 offset-lg-5 col-md-6 col-sm-8 col-8 header__phone phone">
                    <a href="tel:+88002323212" class="phone__tel">8 800 232 32 12</a>
                    <button type="submit" class="phone__link">Заказать обратный звонок</button>
                </div>
            </div>
        </div>
        <div class="header__content">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="header__title">Продажа кузовных запчастей</h1>
                    <h3 class="header__subtitle">с заводской покраской без пробега по РФ</h3>
                </div>
            </div>
            <ul class="row justify-content-center header__list">
                <li class="col-lg-2  col-6 header__item">
                    <img src="assets/img/header-icons/header-icon_01.png" alt="картинка 1">
                    <p>Доставка по РФ от 3-х дней</p>
                </li>
                <li class="col-lg-2 offset-lg-1 col-6 header__item">
                    <img src="assets/img/header-icons/header-icon_02.png" alt="картинка 2">
                    <p>Новое&nbsp;состояние по цене&nbsp;б/у</p>
                </li>
                <li class="col-lg-2 offset-lg-1 header__item">
                    <img src="assets/img/header-icons/header-icon_03.png" alt="картинка 3">
                    <p>Наличие более 500&nbsp; различных деталей</p>
                </li>
            </ul>
        </div>
        <div class="header__btn">
            <div class="row justify-content-center">
                <div class="col-md-4 col-10">
                    <a class="btn btn--red fast__request" href="#">Быстрая заявка</a>
                </div>
                <div class="col-md-4 col-10">
                    <a class="btn" href="#requests">Подробная заявка</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</header>
<!-- /.header -->