<section class="instock">
    <div class="container">
        <h1 class="title">Имеем в наличии детали на авто:</h1>
        <ul class="row justify-content-center instock__list">
            <li class="col-lg-3 col-md-3 col-6 instock__item">
                <img src="assets/img/instock-img/audi.png" alt="Ауди" class="instock__item-img">
            </li>
            <li class="col-lg-3 col-md-3 col-6 instock__item">
                <img src="assets/img/instock-img/mercedes.png" alt="Мерседес" class="instock__item-img">
            </li>
            <li class="col-lg-3 col-md-3 col-6 instock__item">
                <img src="assets/img/instock-img/bmw.png" alt="БМВ" class="instock__item-img">
            </li>
            <li class="col-lg-3 col-md-3 col-6 instock__item">
                <img src="assets/img/instock-img/volkswagen.png" alt="Volkswagen" class="instock__item-img">
            </li>
            <li class="col-lg-3 col-md-3 col-6 instock__item">
                <img src="assets/img/instock-img/jaguar.png" alt="Jaguar" class="instock__item-img">
            </li>
            <li class="col-lg-3 col-md-3 col-6 instock__item">
                <img src="assets/img/instock-img/volvo.png" alt="Volvo" class="instock__item-img">
            </li>
            <li class="col-lg-3 col-md-3 col-6 instock__item">
                <img src="assets/img/instock-img/mini.png" alt="Mini" class="instock__item-img">
            </li>
            <li class="col-lg-3 col-md-3 col-6 instock__item">
                <img src="assets/img/instock-img/land-rover.png" alt="Land-Rover" class="instock__item-img">
            </li>
            <li class="col-lg-3 col-md-3 col-6 instock__item">
                <img src="assets/img/instock-img/honda.png" alt="Honda" class="instock__item-img">
            </li>
            <li class="col-lg-3 col-md-3 col-6 instock__item">
                <img src="assets/img/instock-img/jeep.png" alt="Jeep" class="instock__item-img">
            </li>
            <li class="col-lg-3 col-md-3 col-6 instock__item">
                <img src="assets/img/instock-img/bentley.png" alt="Bentley" class="instock__item-img">
            </li>
            <li class="col-lg-3 col-md-3 col-6 instock__item">
                <img src="assets/img/instock-img/porsche.png" alt="Porsche" class="instock__item-img">
            </li>
            <li class="col-lg-3 col-md-3 col-6 instock__item">
                <img src="assets/img/instock-img/mazda.png" alt="Mazda" class="instock__item-img">
            </li>
        </ul>
    </div>
    <!-- /.container -->
</section>
<!-- /.instock -->
