<section class="rewiews">
    <div class="container">
        <h1 class="title">Клиенты о нас</h1>
        <div class="row justify-content-center rewiews__list">
            <div class="col-lg-6 col-md-10 rewiews__item">
                <div class="rewiews__img">
                    <img src="assets/img/rewiews-avatar.png" alt="Аватар клиента">
                </div>
                <div class="rewiews__content">
                    <h4 class="rewiews__name">Иван Иванович</h4>
                    <span class="rewiews__title">Не могу найти фару для авто</span>
                    <p class="rewiews__text">
                        “ Мотордеталь в широком ассортименте по ценам от известного дистрибьютора автозапчастей. ООО
                        "РАДИАТОР" пользуется заслуженным уважением среди покупателей, благодаря высокому сервису,
                        скидкам, отличному качеству продукции.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-10 rewiews__item">
                <div class="rewiews__img">
                    <img src="assets/img/rewiews-avatar.png" alt="Аватар клиента">
                </div>
                <div class="rewiews__content">
                    <h4 class="rewiews__name">Иван Иванович</h4>
                    <span class="rewiews__title">Не могу найти фару для авто</span>
                    <p class="rewiews__text">
                        “ Мотордеталь в широком ассортименте по ценам от известного дистрибьютора автозапчастей. ООО
                        "РАДИАТОР" пользуется заслуженным уважением среди покупателей, благодаря высокому сервису,
                        скидкам, отличному качеству продукции.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-10 rewiews__item">
                <div class="rewiews__img">
                    <img src="assets/img/rewiews-avatar.png" alt="Аватар клиента">
                </div>
                <div class="rewiews__content">
                    <h4 class="rewiews__name">Иван Иванович</h4>
                    <span class="rewiews__title">Не могу найти фару для авто</span>
                    <p class="rewiews__text">
                        “ Мотордеталь в широком ассортименте по ценам от известного дистрибьютора автозапчастей. ООО
                        "РАДИАТОР" пользуется заслуженным уважением среди покупателей, благодаря высокому сервису,
                        скидкам, отличному качеству продукции.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-10 rewiews__item">
                <div class="rewiews__img">
                    <img src="assets/img/rewiews-avatar.png" alt="Аватар клиента">
                </div>
                <div class="rewiews__content">
                    <h4 class="rewiews__name">Иван Иванович</h4>
                    <span class="rewiews__title">Не могу найти фару для авто</span>
                    <p class="rewiews__text">
                        “ Мотордеталь в широком ассортименте по ценам от известного дистрибьютора автозапчастей. ООО
                        "РАДИАТОР" пользуется заслуженным уважением среди покупателей, благодаря высокому сервису,
                        скидкам, отличному качеству продукции.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.rewiews -->