@media screen and (max-width: 768px) {
    .header {
        &__content {
            .header__title {
                font-size: 37px;
            }
            .header__subtitle {
                font-size: 25px;
            }
        }
    }

    .consultation  {
        .form {
            .form__btn {
                margin: 30px auto 0 auto;
            }
        }
    }

    .form {
        max-width: 635px !important;
    }
}

@media screen and (max-width: 425px) {
    .phone__tel {
        font-size: 23px;
    }

    .phone__link {
        font-size: 13px;
    }
    .logo {
        font-size: 23px;
    }

    .contacts {
        .container {
            padding: 0;
            .contacts__card {
                position: inherit;
                width: 100%;
                transform: translateX(0%);
            }
        }
    }

    .fast__request {
        margin-bottom: 15px;
    }

    .form {
        padding: 15px 20px !important;
    }

    .header__content {
        .header__subtitle {
            font-size: 20px;
            line-height: 25px;
            margin-top: 10px;
        }

        .header__title {
            font-size: 30px;   
        }
    }
}

@media screen and (max-width: 360px) {
    .modal__content {
        max-width: 250px;
        .modal__form-btn {
            padding: 12px;
        }
    }
    .header__content {
        .header__subtitle {
            font-size:16px;
            padding-bottom: 55px;
        }

        .header__title {
            font-size: 21px;   
        }
    }
}